@import "vars"


@media only screen and (max-width : 1200px)


	.header
		&-top-line
			max-width: 960px
			
	.page-title
		max-width: 100%


	/**/



@media only screen and (max-width : 992px)

	.header
		&-top-line
			max-width: 720px



	/**/



@media only screen and (max-width : 768px)

	.header
		&-top-line
			max-width: 540px

	/**/


@media only screen and (max-width : 576px)

	/**/


@media only screen and (max-width : 480px)

	/**/



@media only screen and (max-width : 320px)

	/**/
